@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        border: 1px solid rgba(255, 255, 255, 0.6);

    }

    @font-face {
        font-family: 'Le Murmure';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('./assets/fonts/le-murmure.otf') format('opentype');
    }

    @font-face {
        font-family: 'VarentGrotesk';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('./assets/fonts/VarentGrotesk-Bold.otf') format('opentype');
    }

    @font-face {
        font-family: 'Wagon';
        font-style: italic;
        font-weight: 200;
        font-display: swap;
        src: url('./assets/fonts/Wagon-ExtralightItalic.otf') format('opentype');
    }

    @font-face {
        font-family: 'Wagon';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('./assets/fonts/Wagon-Extralight.otf') format('opentype');
    }
    @font-face {
        font-family: 'Wagon';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('./assets/fonts/Wagon-Bold.otf') format('opentype');
    }
}